*~
*.pyc
*.cache
*.DS_Store
venv*
*.pyc
*.egg-info*
__pycache__*
__javascript__*
.vscode
staticfiles
.env
db.sqlite3
debug.log
out*
node_modules
package-lock.json
cache.sqlite
MANIFEST
dist
dist-dev
dist-prod
js/dist/*
js/src/parser.ts
js/src/templates.js
js/src/lawnum_table.ts
js/test/lawdata
