*~
*.pyc
*.cache
*.DS_Store
*.log
venv*
*.pyc
*.egg-info*
__pycache__*
__javascript__*
.vscode
staticfiles
.env
db.sqlite3
debug.log
out*
node_modules
package-lock.json
tsconfig.tsbuildinfo
cache.sqlite
MANIFEST
/dist-dev
/dist-bundle-dev
/dist-bundle-prod
/test/lawdata
/data
/mochawesome-report
