*~
*.pyc
*.cache
*.DS_Store
venv*
*.pyc
*.egg-info*
__pycache__*
__javascript__*
.vscode
staticfiles
.env
db.sqlite3
debug.log
out*
node_modules
package-lock.json
tsconfig.tsbuildinfo
cache.sqlite
MANIFEST
/dist
/dist-dev
/dist-prod
/dist-dev-local
/dist-prod-local
/dist-test
/dist-bin
/test/lawdata
mochawesome-report
/src/query-docs/temp-includes
