@import "~bootstrap/scss/bootstrap.scss";

// html,body {
//     scroll-behavior: smooth;
// }

.blink-once {
    animation: fadeBackground 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeBackground {
    0% { background-color: auto; }
    25% { background-color: #fffadd; }
    75% { background-color: #fffadd; }
    100% { background-color: auto; }
}